@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Montserrat&display=swap');

*{
    padding: 0px;                                         
    margin: 0px;
}

#navbar{
    border: 1px solid black;
    margin: auto;
    padding: 15px;
    text-align: center;
    background-color: aquamarine;
    margin-top: 5px;
}
.links {
    display: inline;
}
#navbar .links a{
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    float: right;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    opacity: .60;
    transition: 0.2s;
    text-transform: uppercase ;
}
#navbar .links a:hover{opacity: 1; transition: 0.4s;}
#home{background-color: lightseagreen; color: yellow;}
#gal{ background-color: lightseagreen; color: yellow;}
#sched{ background-color: lightseagreen; color: yellow;}

div.logo{
    float: left;
    margin: 70px;
}

.box{border-radius: 5px;}

.footer{
    overflow: hidden;
    background-color: antiquewhite;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a{
    float: right;
    display: block;
    background: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div.gallery {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

.banner{
    background-image: url(me.jpeg);
    width: 1000vw;
    height: 1000px;
    color: aqua;
}

.banner h2{
    font-family: 'AR One Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}



